.is-home {
    .site-header {
        min-height: 700px;
        height: 100vh;
        background-color: $dark;
        color: #fff;
    }

    .top-line {
        padding-top: 40px;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

}

.logo__img {
    width: 125px;
    height: auto;
    margin-left: 45px;
}

.phone {
    position: absolute;
    right: 85px;
    top: 44px;
    font-family: firasans, sans-serif;
    font-size: 22px;
    white-space: nowrap;

    .fa {
        color: #555;
        font-size: 22px;
        margin-right: 3px;
    }
}

.hamburger {
    position: absolute;
    right: 0;
    top: 34px;
    
    .hamburger-box {
        width: 34px;
    }
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    width: 34px;
    height: 2px;
    border-radius: 0;
    background-color: #fff;
}

.mm-navbar {
    height: auto;
    position: relative;
    border-bottom: none;
    .mm-title {
        padding: 0;
        img {
            width: 128px;
            height: auto;
            margin: 10px 0 35px;
        }
    }
}

html.mm-opened {
    overflow-y: scroll;
}
.mm-panels>.mm-panel.mm-hasnavbar {
    right: -18px;
}
.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before {
    height: 0;
}
.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    margin-top: 0;
}
.mm-listview>li:not(.mm-divider):after {
    display: none;
}
.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview>li.mm-selected>span {
    background-color: transparent;
    color: $accent;
}
.mm-listview>li>a {
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 8px;
    transition: color .75s ease;

    &:hover {
        color: $accent;

        &::before {
            color: $accent;
            transition: color .75s ease;
        }
    }

    &::before {
        content: '\f219';
        font-family: fontawesome;
        margin-right: 8px;
        font-size: 12px;
        color: #fff;
    }
}

.header-flex {
    display: flex;
    height: 100%;
    position: relative;
    top: 0;
}

.flex-center {
    margin: auto;
}

.header-composition {
    text-align: center;
    p {
        margin-top: 40px;
    }

    .button {
        margin-top: 40px;
    }
}

.welcome {
    p {
        font-size: 14px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        margin: 0;
        margin-bottom: 10px;

        &::before, &::after {
            content: '';
            height: 1px;
            width: 100%;
            position: relative;
            background-color: #fff;
            display: inline-block;
        }
        span {
            margin: 0 10px;
        }

    }

    .h1 {
        font-size: 70px;
        font-weight: 100;
        border-bottom: 1px solid #fff;
        white-space: nowrap;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    strong {
        text-transform: uppercase;
        display: block;
        font-size: 17px;

        .fa {
            font-size: 12px;
            color: #555;
            margin-right: 10px;

            &:last-child {
                margin-left: 10px;
                margin-right: 0;
            }
        }
    }

    .button {
        margin-top: 20px;
    }
}