ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
}

body {
  opacity: 1;
  font-size: 16px;
  line-height: 1.75;
  min-width: 320px;
  font-family: 'raleway';
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

