doctype html
html(lang="ru-Ru")
    head
        title Project Title
        link(rel="stylesheet", href="css/main.css")
    body
        h1 Hello, Dear World!
        script(src="scripts/main.js")